@media screen and (max-width:400px) {
    header .container{
        display: flex;
        flex-direction: column;
    }
    
    .botoes {
        border: 1px solid white;
        display: flex;
        flex-direction: column;
    }

    .botao {
        margin-top: 2%;
    }

    
}